# TESTING OF HYPOTHESIS BASED ON GIVEN DATA SET Week_8_Q&A_dataset - Sheet1.csv

1)Carry out descriptive analytics on the dataset.
2)Check whether female and male students scored the same marks.
3)Whether test preparation helps the students

In [22]:
import pandas as pd 
import numpy as np
import seaborn as sns
import scipy.stats as stats

In [13]:
testprep="Week_8_Q&A_dataset - Sheet1.csv"
df=pd.read_csv(testprep)
df.isna().sum()

Gender              0
Test preparation    0
Total Marks         0
dtype: int64

In [7]:
df.head()

   Gender Test preparation  Total Marks
0    male             none           14
1  female             none           28
2  female             none           18
3  female             none           48
4  female             none           21

# 1)Carry out descriptive analytics on the dataset.

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Gender            28 non-null     object
 1   Test preparation  28 non-null     object
 2   Total Marks       28 non-null     int64
dtypes: int64(1), object(2)
memory usage: 800.0+ bytes

In [10]:
df.describe()

       Total Marks
count    28.000000
mean     32.321429
std      12.454520
min      12.000000
25%      22.500000
50%      33.000000
75%      43.250000
max      50.000000

In [ ]:
INFERENCE:1)28 enteries are present in the sample
          2)mean of total marks is 32.321429
          3)standard deviation is 12.454520
          4)minimum score is 12
          5)maximum score is 50

# 2)Check whether female and male students scored the same marks.
sample size<30,we take a 2 sampled 2 tailed t test
null hypothesis(Ho)=mean of marks of male and female are equal
alternate hypothesis=mean of marks of male and female are not equal
alpha=0.05

In [27]:
genderdata=df.groupby('Gender')
genderdata.describe()

       Total Marks
             count       mean        std   min    25%   50%    75%   max
Gender
female        16.0  33.750000  12.865976  12.0  25.50  39.0  43.50  50.0
male          12.0  30.416667  12.168950  14.0  21.75  29.0  43.25  47.0

In [18]:
gender=df['Gender']
mark=df['Total Marks']
male=gender=='male'
female=gender=='female'
malescore=mark[male]
femalescore=mark[female]
from scipy.stats import ttest_ind
ttest_ind(malescore,femalescore)

Ttest_indResult(statistic=-0.6940885268848668, pvalue=0.4937822317960763)

INFERENCE:1)pvalue is higher than 0.05,so we cannot reject null hypothesis that mean of male and female are equal.
          2)It indicates that marks scored by male and female are equal.

# 3)Whether test preparation helps the students
taking a 1 tailed 2 sample t test
Null hypothesis(Ho)=average mark scored by students who did test preparation and those who didnt are equal.
Alternate hypothesis(Ha)=average mark scored by students who did test preparation are greater than those who didnt .
alpha=0.05

In [20]:
testpreparation= df[df["Test preparation"]=="completed"]["Total Marks"]
nopreparation= df[df["Test preparation"]=="none"]["Total Marks"]

In [21]:
from scipy.stats import ttest_ind
ttest_ind(testpreparation,nopreparation)

Ttest_indResult(statistic=3.6143637527769217, pvalue=0.0012671292457320106)

In [ ]:
INFERENCE:1)p value is  less than 0.05.Hence we reject null hypothesis.
          2)So the marks scored by those who did test preparation is greater than those who didnt.
          3)test preparation helped the students to score good marks.